@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">we deployed in app service using github </p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
